{% load static %}
{%load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Django Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

    <div class="header">

        <h1><a href="{% url 'home' %}">Django blog</a></h1>
        <p>A <b>Responsive</b> website created by me.</p>
    </div>

    <div class="navbar">
        <a href="{% url 'home' %}" class="active">Home</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        {% if user.is_authenticated %}
        <a class = 'right' href="{% url 'logout' %}">Log out</a>
        <a href="{% url 'post_new' %}" class='right'>+ New Blog</a>
        <a class="right header-name">Hi {{ user.username }} </a>
        {% else %}
        <a href="{% url 'login' %}" class="right">Log In</a>
        <a href="{% url 'signup' %}" class="right">Sign Up</a>

        {% endif %}

        
    </div>

    <div class="row">
        <div class="side">
            <h2>About Me</h2>
            <h5>Photo of me:</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h3>More Text</h3>
            <p>Lorem ipsum dolor sit ame.</p>
            <div class="fakeimg" style="height:60px;">Image</div><br>
            <div class="fakeimg" style="height:60px;">Image</div><br>
            <div class="fakeimg" style="height:60px;">Image</div>
        </div>
        <div class="main">


            {% block content %}
            {% endblock %}


            <!-- {% for post in object_list %}
            <h2>{{ post.title }}</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>{{ post.body }}</p>
            <br>
            {% endfor %} -->

            <!-- Pagination -->
            <!-- <div class='pagination justify-content-center'>
                {% if page_obj.has_previous %}
                <a href='{% url "home" %}?page={{ page_obj.previous_page_number }}'>Previous </a>
                {% endif %}

                <span class='mx-4'>
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                <a href='{% url "home" %}?page={{ page_obj.next_page_number }}'> Next</a>
                {% endif %}
            </div> -->
            <!-- END Pagination -->

        </div>

    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>

</body>

</html>